@font-face {
    font-family: poppins;
    src: url(../assets/fonts/poppins/Poppins-Medium.ttf) format("opentype");
  }

  :host {
    font-family: poppins;
    font-size: 11px;
    color: #333;
    background-color: #eeeeee;
  }
 
  p {
    margin: 5px;
    color: #888;
  }
  span {
    margin: 5px;
    color: #888;
  }
.cont{
    margin:5%
}
  .spacer {
    flex: 1;
  }
  .bottom{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .first{
    background-color:rgb(240, 240, 240);
    padding-bottom:40px;
  }
  .second{
    background-color:rgb(248, 244, 244);
}

  .toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    align-items: center;
    font-weight: 600;
    margin-left: 15%;
    margin-right: 15%;
  }
    .red{
        color: #F13C45 !important;
    }
    .mat-raised-button{
        background-color:  #F13C45 !important;
        color: white !important;
    }
    .blue{
        color:  #0B2342 !important;
    }
    .social{
        background-color: #0B2342 !important ;
        color: white !important;
    }
    .mat-stroked-button:not(.mat-button-disabled){
        border-color:  #F13C45 !important;
    }

  .head-buttons{
    width: 100px;
    margin: 10px;
  }

  .navbar > a{
    color:  lightgrey !important;
    margin: 5px;
    font-size: 14px
  }
  .navbar>a:hover { 
    color: #F13C45 !important; 
    text-decoration: underline !important;
} 
.platforms{
    margin: 5px;
}
  .navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .toolbar img {
    margin: 0 16px;
    width: 180px !important;
    height: 70px !important;
  }
  .seemore{
    margin: 0;
    position: absolute;
    margin-left: 35%;
  }
.center{
    justify-content: center;
}
  .imgusr{
    width: 100%;
    height: 100%;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 15%;
    margin-right: 15%;
    flex-direction: column;
    align-items: center; 
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
.blogs{
    background-color: white;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.blogsrow{
    
    margin-left: 15px;
    margin-right: 15px;
}
.blogsrowh{
    border-left-color: #F13C45 !important;
    border-left: 2px solid;
}
.bloglistgallery{
    padding: 5%;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
    align-items: center; 
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    position: relative;
}

.contact{
    flex-direction: column;
    padding-right: 20%;
    padding-left: 20%;
    align-items: center; 
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    position: relative;
}
  .latestpodcasts{
    background-color: white;
    padding: 5%;
    margin-left: 15%;
    margin-right: 15%;
    flex-direction: column;
    align-items: center; 
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    position: relative;
    top: -35px;
  }
  .pdcstimage{
    width: 100%;
    margin: 10px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

 
  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

