<div class="first">
  <div class="toolbar row" role="banner">
    <div class="col-md-3">
      <img alt="nicasource Logo" src="../assets/images/nicasource.png"  />
    </div>
    <div class="navbar col-md-5">
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Episodes</a>
      <a href="">Blog</a>
      <a href="">Contact</a>
    </div>
      <div class="col-md-4">
        <button mat-raised-button class="head-buttons">Subscribe</button>
        <button mat-stroked-button class="red head-buttons">Sign-In</button>
      </div>
  
  </div>
  
  <div class="content">
    <div class="card-container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <span>Trending Episode</span>
            <h1>Lorem ipsum dolor sit amet, consectetuer.</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    
          </div>
          <br>
          <div class="row">
            
            <span>Listen On Also</span>
            <div class="platforms">
              <img src="../assets/images/spotify.png" class="platforms" alt="Spotify" width="20%">
              <img src="../assets/images/google.png" class="platforms" alt="Google" width="36%">
              <img src="../assets/images/apple_podcasts.png" class="platforms" alt="Apple" width="36%">
            </div>
          </div>
          
        </div>
        <div class="col-md-6">
          <img  class="imgusr" src="../assets/images/used_car_podcast.png" alt="User card podcast">
        </div>
      </div>
    </div>

</div>

</div>

<div class="second">
  <div class="latestpodcasts">
    <div class="row">
      <div class="col-md-10">  
        <h2>Latest Podcast Episodes</h2>
      </div>
      
      <div class="col-md-1">
        <button mat-raised-button class="head-buttons">View All</button>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <img class="pdcstimage" src="../assets/images/xmpl.png" alt="">
          </div>
          <div class="col-md-8">
            <h4>Lorem ipsum dolor sit amet, consectetuer</h4>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
            <br>            
            <button mat-stroked-button class="red head-buttons">Know more</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <p># Season 1</p>
        <p># Posted on 19 Jul 2022</p>
        <p># audio/ goodbyes/ life</p>
      </div>
    </div>

    <div class="row ">
      <div class="col-md seemore">
        <button mat-stroked-button class="red">See More Episodes</button>
      </div>
    </div>
  
  </div>

  <div class="container">
    <div class="row center">
      <h2>Blog Posts</h2>
    </div>
  </div>
  <div class="bloglistgallery">
    <div class="row">
      <div class="col md-3 blogs">
        <div class="row blogsrow blogsrowh">
          <div class="col-md-12"> <span>By Mehedi Hasan</span><span>Sep 11, 2020</span></div>
          <div class="col-md-12"> <span>NicaSource Radio</span></div>
         </div>
        <div class="row blogsrow">
          <h5>Global News Podcast Thai soldier kills many</h5>
        </div>
        <div class="row blogsrow">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore ..</p>
        </div>
        <div class="row blogsrow">
          <button mat-stroked-button class="red">Read more</button>
        </div>
  
      </div>
      <div class="col md-3 blogs">
        <div class="row blogsrow blogsrowh">
          <div class="col-md-12"> <span>By Mehedi Hasan</span><span>Sep 11, 2020</span></div>
          <div class="col-md-12"> <span>NicaSource Radio</span></div>
         </div>
        <div class="row blogsrow">
          <h5>Global News Podcast Thai soldier kills many</h5>
        </div>
        <div class="row blogsrow">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore ..</p>
        </div>
        <div class="row blogsrow">
          <button mat-stroked-button class="red">Read more</button>
        </div>
  
      </div>
      <div class="col md-3 blogs">
        <div class="row blogsrow blogsrowh">
          <div class="col-md-12"> <span>By Mehedi Hasan</span><span>Sep 11, 2020</span></div>
          <div class="col-md-12"> <span>NicaSource Radio</span></div>
         </div>
        <div class="row blogsrow">
          <h5>Global News Podcast Thai soldier kills many</h5>
        </div>
        <div class="row blogsrow">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore ..</p>
        </div>
        <div class="row blogsrow">
          <button mat-stroked-button class="red">Read more</button>
        </div>
  
      </div>

    </div>
  </div>
  <div>
    <div class="row center">
      <button mat-icon-button  aria-label="Left arrow">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-icon-button aria-label="Right arrow">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
  <br>  <br>
  <div class="container">
    <div class="row center">
      <h2>Our Gallery</h2>
    </div>
  </div>
  <div class="bloglistgallery">
    <div class="row">
      <div class="col-md">
        <img src="../assets/images/xmpl.png" alt="" width="100%">  
      </div>
      <div class="col-md">
        <img src="../assets/images/xmpl.png" alt="" width="100%">  
      </div>
      <div class="col-md">
        <img src="../assets/images/xmpl.png" alt="" width="100%">  
      </div>
      <div class="col-md">
        <img src="../assets/images/xmpl.png" alt="" width="100%">  
      </div>
  
    </div>
  </div>
  <div class="container">
    <div class="row center">
      <h2>New Episode Every Week!</h2>
    </div>
  </div>
  <div class="container contact">
    <div class="row center cont">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
         ut labore et dolore magna aliquyam erat, sed.</p>
    </div>
    <div class="row center" >
      <div class="input-group">
          <input type="text" class="form-control" ng-model="monitor.query" placeholder="Type your Email" aria-describedby="addon">
          <button mat-raised-button >Subscribe</button>
      </div>
      
  </div>
    
  </div>
  <div class="row center bottom">
    <div class="col-md-4">  
      <img alt="nicasource Logo" src="../assets/images/nicasource.png"  />
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed.</p>
        <div class="row">
          <div class="col-sm-3"> <button mat-mini-fab disabled aria-label="Facebook" class="social">
            <mat-icon>facebook</mat-icon>
          </button>
         </div>
         <div class="col-sm-3"> <button mat-mini-fab disabled aria-label="Linkedin" class="social">
          <mat-icon>linkedin</mat-icon>
        </button>
       </div>
       <div class="col-sm-3"> <button mat-mini-fab disabled aria-label="instagram" class="social">
        <mat-icon>instagram</mat-icon>
      </button>
     </div>
     <div class="col-sm-3"> <button mat-mini-fab disabled aria-label="Skype" class="social">
      <mat-icon>skype</mat-icon>
    </button>
   </div>
        </div>
    </div>
    <div class="col-md-5">
      <div class="row">        
        <div class="col-sm-6">
          <strong>Pages </strong>
        </div>
        <div class="col-sm-6">
          <strong>Recent Episodes </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-lg-12">
              <p>About</p>
            </div>
            <div class="col-lg-12">
              <p>Episodes</p>
            </div>
            <div class="col-lg-12">
              <p>Blog</p>
            </div>
            <div class="col-lg">
              <p>Contact</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-lg-12">    
             <p>Episode 1</p>         
            </div>
            
            <div class="col-lg-12">    
              <p>Episode 2</p>         
             </div>
             
            <div class="col-lg-12">    
              <p>Episode 3</p>         
             </div>
             
            <div class="col-lg-12">    
              <p>Episode 4</p>         
             </div>
          </div>
        </div>
      </div>
     
    </div>
    <div class="col-md-3">
      <div class="row">        
        <div class="col-lg-12">
          <strong>Listen My Podcasts Also In </strong>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">        
          <div class="col-lg-12">            
            <img src="../assets/images/spotify.png" class="platforms" alt="Spotify" width="100%">
          </div>
          <div class="col-lg-12">
            <img src="../assets/images/google.png" class="platforms" alt="Google" width="100%">
          </div>
          <div class="col-lg-12">
            <img src="../assets/images/apple_podcasts.png" class="platforms" alt="Apple" width="100%">
          </div>
        </div>
      </div>
    </div>
    
 <mat-divider>
</mat-divider>
  </div>
    <footer>   
      <div class="container">  
        <div class="row center" >
          <span>@2022 NicaSource All Rights Reserved</span>
        </div>
      </div>  
  </footer>
</div>
