<div  *ngFor="let pageData of homePageData$ | async" class="container2">
  <div class="first" >
    <div class="toolbar row" role="banner">
      <div class="col-md-3">
        <img alt="nicasource Logo" src="../assets/images/nicasource.png"  />
      </div>
      <div class="navbar col-md-5" >
        <a href=""  *ngFor="let menuItem of menuLst$ | async">{{menuItem.title.rendered}}</a>
      </div>
        <div class="col-md-4 center">
          <button mat-raised-button class="head-buttons">Subscribe</button>
          <button mat-stroked-button class="red head-buttons">Sign-In</button>
        </div>
    
    </div>
    
    <div class="content">
      <div class="card-container">
        <div class="row">
          <div class="col-md-6">
            <div class="row" >
              <span>Trending Episode</span>
              <h1>Lorem ipsum dolor sit amet, consectetuer.</h1>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
      
            </div>
            <br>
            <div class="row">
              
              <span>Listen On Also</span>
              <div class="platforms">
                <img src="../assets/images/spotify.png" class="platforms" alt="Spotify" width="20%">
                <img src="../assets/images/google.png" class="platforms" alt="Google" width="36%">
                <img src="../assets/images/apple_podcasts.png" class="platforms" alt="Apple" width="36%">
              </div>
            </div>
            
          </div>
          <div class="col-md-6">
            <img  class="imgusr" src="../assets/images/used_car_podcast.png" alt="User card podcast">
          </div>
        </div>
      </div>
  
  </div>
  
  </div>
  
  <div class="second">
    <div class="latestpodcasts">
      <div class="row">
        <div class="col-md-10">  
          <h2>Latest Podcast Episodes</h2>
        </div>
        
        <div class="col-md-1">
          <button mat-raised-button class="head-buttons">View All</button>
          
        </div>
      </div>
      <div class="row" *ngFor="let podcast of podcastsLst$ | async">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <img class="pdcstimage" src="../assets/images/xmpl.png" alt="">
            </div>
            <div class="col-md-8">
              <h4>{{podcast.title.rendered}}</h4>
              <br>
              <div [innerHTML]="podcast.content.rendered"></div>
  
              <br>            
              <button mat-stroked-button class="red head-buttons">Know more</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p># Season {{podcast.acf.season}}</p>
          <p># {{podcast.modified | date}}</p>
          <p># {{podcast.acf.category}}</p>
        </div>
      </div>
  
      <div class="row ">
        <div class="col-md seemore">
          <button mat-stroked-button class="red">See More Episodes</button>
        </div>
      </div>
    
    </div>
  
    <div class="container">
      <div class="row center">
        <h2>Blog Posts</h2>
      </div>
    </div>
    <div class="bloglistgallery">
      <div class="row">
        <div class="col md-3 blogs"  *ngFor="let post of blogPostsLst$ | async">
          <div class="row blogsrow blogsrowh">
            <div class="col-md-12"> <span>By {{post.acf.author}}</span><span>{{post.modified  | date}}</span></div>
            <div class="col-md-12"> <span>{{post.acf.producer}}</span></div>
           </div>
          <div class="row blogsrow">
            <h5>{{post.title.rendered}}</h5>
          </div>
          <div class="row blogsrow">
            <div [innerHTML]="post.content.rendered"></div>
          </div>
          <div class="row blogsrow">
            <button mat-stroked-button class="red">Read more</button>
          </div>
    
        </div>
  
  
      </div>
    </div>
    <div>
      <div class="row center">
        <button mat-icon-button  aria-label="Left arrow">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button aria-label="Right arrow">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
    <br>  <br>
    <div class="container">
      <div class="row center">
        <h2>Our Gallery</h2>
      </div>
    </div>
    <div class="bloglistgallery">
      <div class="row center">
        <ngb-carousel >
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../assets/images/xmpl.png" alt="Random first slide">
            </div>
          </ng-template>
          
        </ngb-carousel>
    
      </div>
    </div>
    <div class="container">
      <div class="row center">
        <h2>{{pageData.acf.final_section_title}}</h2>
      </div>
    </div>
    <div class="container contact">
      <div class="row center cont">
        <p>{{pageData.acf.final_section_text}}</p>
      </div>
      <div class="row center" >
        <form [formGroup]="subscribeForm">
          <div class="container">
              
              <div class="row">
                  <div class="input-group" id="inputgr">
                    <input type="text" formControlName="email" name="email"  class="form-control" ng-model="monitor.query" placeholder="Type your Email" aria-describedby="addon">
                    <button type="button" mat-raised-button (click)="subsc()">Subscribe</button>
                </div>
                <label for="inputgr" *ngIf="this.invalid" class="error">The email format is incorrect</label>
              </div>
          </div> 
        </form>
        
    </div>
      
    </div>
    <div class="row center bottom">
      <div class="col-md-4">  
        <img alt="nicasource Logo" src="../assets/images/nicasource.png"  />
        <p>{{pageData.acf.final_section_image_footer}}</p>
          <div class="row">
            <div class="col-3"> <button mat-mini-fab disabled aria-label="Facebook" class="social">              
              <a [href]="pageData.acf.link_facebook" target="_blank" class="fa fa-facebook"></a>
            </button>
           </div>
           <div class="col-3"> <button mat-mini-fab disabled aria-label="Linkedin" class="social">          
            <a [href]="pageData.acf.link_instagram" target="_blank" class="fa fa-instagram"></a>
          </button>
         </div>
         <div class="col-3"> <button mat-mini-fab disabled aria-label="instagram" class="social">          
          <a [href]="pageData.acf.link_linkedin" target="_blank" class="fa fa-linkedin"></a>
        </button>
       </div>
       <div class="col-3"> <button mat-mini-fab disabled aria-label="Skype" class="social">          
        <a [href]="pageData.acf.link_skype" target="_blank" class="fa fa-skype"></a>
      </button>
     </div>
          </div>
      </div>
      <div class="col-md-5">
        <div class="row">        
          <div class="col-6">
            <strong>Pages </strong>
          </div>
          <div class="col-6">
            <strong>Recent Episodes </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-12"  *ngFor="let menuItem of menuLst$ | async">
                <p>{{menuItem.title.rendered}}</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12"  *ngFor="let podcast of podcastsLst$ | async">
                <p>Episode {{podcast.acf.episode_number}}</p>
              </div>
            </div>
          </div>
        </div>
       
      </div>
      <div class="col-md-3">
        <div class="row">        
          <div class="col-lg-12">
            <strong>Listen My Podcasts Also In </strong>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">        
            <div class="col-12">            
              <img src="../assets/images/spotify.png" class="platforms" alt="Spotify" width="100%">
            </div>
            <div class="col-12">
              <img src="../assets/images/google.png" class="platforms" alt="Google" width="100%">
            </div>
            <div class="col-12">
              <img src="../assets/images/apple_podcasts.png" class="platforms" alt="Apple" width="100%">
            </div>
          </div>
        </div>
      </div>
      
   <mat-divider>
  </mat-divider>
    </div>
      <footer>   
        <div class="container">  
          <div class="row center" >
            <span>@2022 NicaSource All Rights Reserved</span>
          </div>
        </div>  
    </footer>
  </div>
  
</div>
